body{
	background-color: darkturquoise;
}

h1,p{
	color: paleturquoise;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	margin: 150px auto 100px auto;
}
h1{
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 60px;
	}     
p{
  margin-top: 8px;
  padding-bottom: 0px;
              
	} 
