* {margin:0;padding:0;box-sizing:border-box;}

body{
	background: #ecf0f1;
	color: #1F1F2E;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
}
h1{
	font-size: 5.5em;
	font-weight: 700;
	text-transform: uppercase;
}
p{
	font-size: 1.5em;
	margin-top: .5em;
}
#nav{
	background: #DB0A5B;
	box-shadow: 2.2px 2.2px 1.7px #47476B;
	height: 5em;
	position: fixed;
	width: 100%;
}
nav{
	padding-left: 1.5em;
	padding-right: 1.5em;
	width: 100%;
}
a{
	color: white;
	display: inline-block;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: .1em;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover{
	border-bottom: 2px solid white;
}
a:first-child{
	margin-right: 2em;
}
a:nth-child(2){
	margin-right: 2em;
}
a:last-child{
	margin-left: 2em;
}
#logo{
	height: 3em;
	float: left;
	margin-top: 1em;
}
#nav-links{
	display: inline;
	float: right;
	padding-top: 2em;
	vertical-align: center;
}
#main{
	background: #ecf0f1;
}
#main-wrapper{
	display: block;
	margin: 0em auto;
	padding-top: 11em;
	text-align: center;
	width: 80%;
}
#woman{
	height: 18em;
	margin-top: 2.2em;
}
.clearfix:after { 
	clear: both;
	content: ".";  
	display: block; 
	height: 0; 
	visibility: hidden;
}
