* {margin:0;padding:0;box-sizing:border-box;}
body{
	font-family: 'Open Sans', sans-serif;
	}
h1,h2{
	clear: both;
	display: inline-block;
	font:normal normal bold 4em/normal 'Copse', serif;
	letter-spacing: .05em;
	padding-bottom: .02em;
	text-align: left;
	/*Dirty IE Hack*/
  	zoom: 1;
 	*display: inline;
	}
h1{
	border-bottom: 5px solid #9c2e23;
	color: #9c2e23;
	margin: 0em 1.5em .25em 1.5em;
}
h2{
	margin: 0em 1.5em .5em 1.5em;
}		
p{
	font: normal normal 500 2em/140% 'Open Sans', sans-serif;
	letter-spacing: .05em;
	margin: .5em 4em 0em 3em;
	} 
#about{ 
	background:#e74c3c;
	color: #9c2e23;
	display:block;
<<<<<<< HEAD
	height:100vh;
	padding-top: 10em;
=======
>>>>>>> origin/master
	position:relative;
}
#work{
	background: #bdc3c7;
	border-top: 5px solid white;
	color: #4d4d4d;
	position:relative;
}
#contact{
	background:#3498db;
	border-top: 5px solid white;
	color: #16547d;
	overflow: hidden
}	
#work h2{
	border-bottom: 5px solid #4d4d4d;	
}	
#images{
	padding: 0em 4em 2em 5em;
}
#work img{
	display: inline-block;
	height: 9em;
	margin: .5em;
	padding: .3em;
	/*Dirty IE Hack*/
  	zoom: 1;
 	*display: inline;
	}	
#contact h2{
	border-bottom: 5px solid #16547d;
	color: #16547d;
}
#self{
	display: inline-block;
	float: left;
	height: 15em;
	margin: 1em 0em 4em 10em;
	/*Dirty IE Hack*/
  	zoom: 1;
 	*display: inline;
}
#first, #second{
	float: right;
	font-size: 1.5em;
	width: 50%;
}
#first{
	margin: 1em 5em 1.5em 2em;
}
#second{
	margin: 0em 5em .6em 2em;
	font-weight: 700;
}
a{
	text-decoration: none;
	font-weight: 700;
	color: #9c2e23;
}
#work-link:hover{
	color: #66150d;
}
#thoughts-link:hover{
	color: #66150d;
}
#contact-link:hover{
	color: #66150d;
}
.arrow{
	position:absolute;
	bottom:0;
	left:50%;
<<<<<<< HEAD
	padding-bottom: 1.5em;
	transform:translateX(-50%);
	font-size:2em;
=======
	transform:translateX(-50%);
>>>>>>> origin/master
}
.arrow:hover{
	color: #66150d;
}
#grey-arrow{
	color: #4d4d4d;
	margin-top: 0em;
}	
#grey-arrow:hover{
	color: black;
}
#social-icons{
	float: right;
	margin: 0em 8em 0em 2em;
	width: 50%;	
}
#social-icons img{
	display: inline-block;
	height: 3.5em;
	margin-right: 2em;
	/*Dirty IE Hack*/
  	zoom: 1;
 	*display: inline;
}
.wrapper {
	max-width:75em;
	margin:0;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
<<<<<<< HEAD
section{
	padding: 4em 0;
}
=======
>>>>>>> origin/master
