* {margin:0;padding:0;box-sizing:border-box;}
body{
	font-family: 'Open Sans', sans-serif;
	}
h1,h2{
	clear: both;
	display: inline-block;
	font-family: 'Copse', serif;
	font-size: 4em;
	letter-spacing: .05em;
	padding-bottom: .02em;
	text-align: left;
	}
h1{
	border-bottom: 5px solid #9c2e23;
	margin: 2.5em 1.5em .25em 1.5em;
	color: #9c2e23;
}
h2{
	margin: 1em 1.5em .5em 1.5em;
}		
p{
	font-size: 2em;
	font-weight: 500;
	line-height: 1.4em;
	margin: .5em 4em 0em 3em;
	letter-spacing: .05em;
	} 
#intro{ 
	background-color:#e74c3c;
	height:100vh;
}
#work{
	background-color: #bdc3c7;
}
#contact{
	background-color:#3498db;
	color: #16547d;
	overflow: hidden
}
#intro p{
	color: #9c2e23;
}	
#work h2{
	border-bottom: 5px solid #4d4d4d;
	color: #4d4d4d;
}	
#images{
	padding: 0em 4em 2em 5em;
}
#work img{
	display: inline-block;
	height: 9em;
	padding: .3em;
	margin: .5em;
	}	
#contact h2{
	border-bottom: 5px solid #16547d;
	color: #16547d
	display: block;
}
#self{
	display: inline-block;
	height: 15em;
	float: left;
	margin: 0em 0em 4em 10em;
}
#contact p{
	float: right;
	font-size: 1.5em;
	width: 50%;
}
#first{
	margin: 2em 5em 1.5em 2em;
}
#second{
	margin: 0em 5em .5em 2em;
}
a{
	text-decoration: none;
	font-weight: 700;
}
a:link{
	color: #9c2e23;
}	
a:visited{
	color: #9c2e23;
}
a:hover{
	color: #66150d;
}
a:active{
	color: #66150d;
}
.arrow{
	margin: 1em auto 0 auto;
	display: block;
}
#grey-arrow{
	color: #4d4d4d;
	display: block;
}
#social-icons{
	float: right;
	margin-right: 6em;
	margin-bottom: 5em;
	width: 50%;
}
#social-icons img{
	display: inline-block;
	height: 5em;
	margin-right: 2em;
}

